*, *::before, *::after {
    color: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
    color: var(--color-text-primary);
}

input,
textarea {
    cursor: text;
}

button,
a {
    cursor: pointer;
    transition: transform 0.15s ease;
}

button:hover,
a:hover {
    cursor: pointer;
}

button:active,
a:active {
    transform: scale(0.97);
}
