@import './__button/more-button-container__button.css';

.more-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 96px;
}

@media screen and (max-width: 1024px) {
    .more-button-container {
        padding-top: 35px;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 768px) {
    .more-button-container {
        padding-top: 33px;
        padding-bottom: 55px;
    }
}

@media screen and (max-width: 420px) {
    .more-button-container {
        padding-top: 28px;
        padding-bottom: 59px;
    }
}