.promo-card-psycho__image-container {
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
