.image-aside__image {
    flex: 0 0 282px;
    width: 282px;
    height: auto;
    display: block;
}

@media screen and (max-width: 990px) {
    .image-aside__image {
        flex: none;
        width: 100%;
    }
}
