@import './__image-container/promo-card-windows__image-container.css';
@import './__title/promo-card-windows__title.css';
@import './__image/promo-card-windows__image.css';
@import './__description/promo-card-windows__description.css';
@import './__image-background/promo-card-windows__image-background.css';
@import './__image-round/promo-card-windows__image-round.css';

.promo-card-windows {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #E6F0FD;
    border-radius: 16px;
    padding: 24px;
}
