.cite_type_anonym {
    position: relative;
    min-height: 168px;
    margin: 24px 0;
}

@media screen and (max-width: 990px) {
    .cite_type_anonym {
        min-height: auto;
        padding: 24px 0;
    }
}
