.input-container__input {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    padding: 14px 16px;
    padding-right: 80px;
    border: 1px solid #9D9D9D33;
}

.input-container__input::placeholder {
    color: var(--color-text-secondary);
}
