.many-cards-layout {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 24px;
    margin-top: 24px;
}

.many-cards-layout .card {
    flex: 1 1 calc((100% - 48px) / 3);
}

.many-cards-layout .card__banner {
    height: 260px;
}

.many-cards-layout .card__content {
    min-height: 240px;
}

@media screen and (max-width: 990px) {
    .many-cards-layout .card {
        flex: 1 1 calc(50% - 12px);
    }
}

@media screen and (max-width: 768px) {
    .many-cards-layout .card {
        flex: 1 1 100%;
    }
}

@media screen and (max-width: 420px) {
    .many-cards-layout {
        gap: 16px;
    }
}

@media screen and (max-width: 320px) {
    .many-cards-layout .card__banner {
        height: 206px;
    }
}
