@import './__image-wrapper/tag__image-wrapper.css';
@import './__image/tag__image.css';
@import './__text/tag__text.css';

.tag {
    display: flex;
    align-items: center;
    padding: 6px 8px;
    background-color: #FFFFFFB2;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
}