.tags-list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .tags-list {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .tags-list .tag {
        flex-shrink: 0;
    }
}
